body{
  background-image:  url('obraz1.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*style uzytkownika*/
.mark, mark {
  background-color: rgb(51, 170, 95)
}
