body {
  background-image: url('img.2.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size:  cover;
}

 /*style*/
 .mark,mark {
   background-color: rgba(252, 21, 250, 0.29);
 }
 .gallery {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }
.gallery {
  margin: 20px;
}
.gallery-item .thumbnail {
  border: 5px solid #fff;
}
